body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  /* background: linear-gradient(to right, red, yellow); */
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

#color1,
#color2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

#color1:hover {
  transform: scale(1.1);
}

#color2:hover {
  transform: scale(1.1);
}

#color1::-webkit-color-swatch {
  border-radius: 15px;
  border: 4px solid white;
}

#color2::-webkit-color-swatch {
  border-radius: 15px;
  border: 4px solid white;
}
